<% include components/header.ejs %>

    <div class="container">
      <div class="row justify-content-lg-center mt-5">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4 class="text-center">Sign in to Probability</h4>
            </div>
            <div class="card-body">
              <form action="/signin" method="post">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <% if (message.length > 0) { %>
                <div class="form-group">
                  <div class="alert alert-danger"><%= message %></div>
                </div>
                <% } %>
                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
              </form>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <p>New to <strong>Probability</strong>? <a href="/">Create an account</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<% include components/footer.ejs %>
