<% include ../components/header.ejs %>

<div class="container">

<h1>User</h1>
<p><a class="" href="/logout">Logout</a></p>

  <!-- errori -->
  <div class="row mt-5 alert alert-danger invisible" id="error">
  </div>

  <!-- visualizza mappe -->
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <% maps.forEach( function(map) { %>
        <li class="list-group-item">
          <span class=""><%= map.name %></span>
          <span class="">(<%= map.width %>)</span>
          <span class="">(<%= map.height %>)</span>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<% include ../components/footer.ejs %>

<script>
$(document).ready( function () {
});
</script>

