<template name="UserHome">
  <h1>Welcome in Probability</h1>

  <p>You have these cities:
    <ul>
      {{#each cities}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </p>
  <p>You have {{numberOfWorkers}} workers in your village</p>
  <p>Actually your workers are 'harvester'.<br>
    Harvester'life is very hard.<br>
    They have 2&#37; probability to reproduce and
    5&#37; probability to die.</p>
  <p>Database update your data every 5 min</p>
  <p>You have {{points}} points</p>
</template>
